<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToSSoundTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="BasePath" value="C:\Program Files (x86)\Steam\steamapps\common\Tree of Savior (Japanese Ver.)"/>
    </appSettings>
    <userSettings>
        <ToSSoundTool.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\Tree of Savior (Japanese Ver.)</value>
            </setting>
            <setting name="IntermediatePath" serializeAs="String">
                <value>intermediate\</value>
            </setting>
            <setting name="IpfName" serializeAs="String">
                <value>__📖_ModifiedSound.ipf</value>
            </setting>
            <setting name="FModclPath" serializeAs="String">
                <value>"C:\Program Files (x86)\FMOD SoundSystem\FMOD Designer\fmod_designercl.exe"</value>
            </setting>
        </ToSSoundTool.Properties.Settings>
    </userSettings>
</configuration>